h1, h2, h3, h4 {
  margin: 0.5em 0;
}

.App {
  background-color: #282c34;
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: #c9c9c9;
}

/*
----------------
Drop area
----------------
*/

.drop-zone {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px dashed white;
  margin: 1em;
  padding: 0.5em;
}

.drop-zone > p {
  margin-top: 0;
}

/*
----------------
Results Window
----------------
*/

/* Results window layout */
.results-window {
  overflow: hidden;
  display: flex;
  flex: 1 1 80%;
}

.stash-results {
  overflow: auto;
  flex: 1 0 auto;
}

/* Filter results */
.filter-menu {
  overflow: auto;
  padding: 0.5em;
  flex-basis: 25%;
}

/* Stash results */
.stash {
  margin: 0.5em;
  padding: 0.5em;
  background-color: rgba(0, 0, 0, 0.25);
}

.stash-error {
  color: red;
}

.stash-owner {
  margin: 0;
  font-size: 1.5em;
  font-weight: bold;
  color: #dedede;
}

/*
----------------
Items
----------------
*/
.d2-item {
  margin-bottom: 0.5em;
}

.d2-item-name {
  font-weight: 500;
}

.subtle {
  color: #999999;
}

.d2-item-value {
  color: #9090FF;
}

.d2-item-range {
  color: #90FF90;
}

.d2-item-stat {
  display: block;
  margin-left: 1em;
}

.d2-item-eth {
  font-style: italic;
}

.corrupted {
  color: #ff9090;
  font-weight: 500;
}

/*
----------------
Utility
----------------
*/
.hidden {
  display: none;
}

.clickable {
  cursor: pointer;
}